**/CMakeCache.txt
**/CMakeFiles
**/*.o
**/*.d
**/*.a
**/*.map
**/*.out
**/.settings/
**/.project
**/.classpath
**/*.elf
**/*.e
**/*.hex
**/*.eep
**/*.asm
**/*.sizes
**/.Makefile.swp
**/log/
**/*.so
lct_*.junit.xml
WD/
**/*.bak
**/*-cache.lib
**/hs_err_pid*.log
**/linux_uartbus_gateway
